---
pagination:
  data: detalleindicadores
  size: 1
  addAllPagesToCollections: true
  alias: detindicadores
tags:
  - detindicadores
permalink: "detalleindicadores/{{detindicadores.id_indicador}}/index.html"
---