---
permalink: "monitoreo/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Monitoreo</title>
{% endblock %}

{% block content %}

<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div  class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
							<div  class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1" >
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5" >
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5" >Monitoreo</h5>
										<!--end::Page Title-->

									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->

								<!--begin::Toolbar-->
								<div class="d-flex align-items-center">
									<!--begin::Actions-->
									<a target="_blank" href="https://docs.google.com/spreadsheets/d/1oKSVsIOMHbyiarzY-E8B5FmYtLDGwuMmrF_2C-kinvM/edit?usp=sharing" class="btn btn-light-primary font-weight-bolder btn-sm">Actualizar Monitoreo</a>
									<!--end::Actions-->
									
								</div>
								<!--end::Toolbar-->
								
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Statistics-->
								<div class="d-flex flex-sm-row flex-column">
									<!--begin::Aside>
									<div class="flex-md-row-auto w-sm-250px w-md-275px w-xl-325px">
										
						


									</div>
									<end::Aside-->
									<!--begin::Content-->
									<div class="flex-row-fluid ml-sm-12">
										<div class="row">
											<div class="col-xxl-12">
												<!--begin::Mixed Widget 13-->
												<div class="card card-custom gutter-b">
													<!--begin::Beader-->
													<div class="card-header border-0 py-5">
														<h3 class="card-title font-weight-bolder">Datos Generales</h3>
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body p-0 d-flex flex-column">
														<!--begin::Stats-->
														<div class="card-spacer pt-5 bg-white flex-grow-1">
															<!--begin::Row-->
															<div class="row row-paddingless">
																<div class="col mr-8">
																	<div class="font-size-sm text-muted font-weight-bold">Número de Personas impactadas</div>
																	<div class="font-size-h4 font-weight-bolder" id="PerTot"></div>
																</div>
															</div>
															<!--end::Row-->

														</div>
														<!--end::Stats-->
														<!--begin::Chart-->
														<div id="kt_mixed_widget_13_chart" class="card-rounded-bottom" style="height: 200px"></div>
														<!--end::Chart-->
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 13-->
											</div>
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Género
															<div class="font-size-sm text-muted mt-2" style="display:flex"><p>Personas totales: &nbsp</p><p id="PerTot2"></p></div></div>
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														<!--begin::Chart-->
														<div id="piechart" style="height: 250px"></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
											<div class="col-xxl-6">
												<!--begin::Charts Widget 1-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header h-auto border-0">
														<!--begin::Title-->
														<div class="card-title py-5">
															<h3 class="card-label">
																<span class="d-block text-dark font-weight-bolder">Monitoreo por Edades</span>
															</h3>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														<!--begin::Chart-->
														<div id="kt_charts_widget_1_chart2"></div>
														<!--end::Chart-->
														{% for item in collections.monitoreos %}

															<div id="edad18" style="display:none">{{item.data.monitoreos.Edad18a25}}</div>
															<div id="edad26" style="display:none">{{item.data.monitoreos.Edad26a35}}</div>

														{% endfor %}
													</div>
													<!--end::Body-->
												</div>
												<!--end::Charts Widget 1-->
											</div>
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Nivel Académico
															<div class="font-size-sm text-muted mt-2" style="display:flex"><p>Personas totales: &nbsp</p><p id="PerTot2"></p></div></div>
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														<!--begin::Chart-->
														<div id="piechart" style="height: 250px"></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Sector
															<div class="font-size-sm text-muted mt-2" style="display:flex"><p>Personas totales: &nbsp</p><p id="PerTot2"></p></div></div>
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														<!--begin::Chart-->
														<div id="piechart" style="height: 250px"></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
											<div class="col-xxl-12">
												<!--begin::Advance Table Widget 3-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 py-5">
														<h3 class="card-title align-items-start flex-column">
															<span class="card-label font-weight-bolder text-dark">Monitoreo</span>
															<span class="text-muted mt-3 font-weight-bold font-size-sm">Más de 400+ miembros</span>
														</h3>
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body pt-0 pb-3">
														<!--begin::Table-->
														<div class="table-responsive">
															<table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
																<thead>
																	<tr class="text-uppercase">
																		<th style="min-width: 250px" class="pl-7">
																			<span class="text-dark-75">Proyecto</span>
																		</th>
																		<th style="min-width: 100px">Año</th>
																		<th style="min-width: 100px">Nombre</th>
																		<th style="min-width: 100px">Género</th>
																		<th style="min-width: 100px">Estado</th>
																	</tr>
																</thead>
																<tbody>
																	{% for item in collections.monitoreos %}
																	<tr>
																		<td class="pl-0 py-8">
																			<div class="d-flex align-items-center">
																				<div class="symbol symbol-50 flex-shrink-0 mr-4">
																					<div class="symbol-label" style="background-image: url('/assets/IMAGEN-RCt.png')"></div>
																				</div>
																				<div>
																					<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.data.monitoreos.Proyecto}}</a>
																					<span class="text-muted font-weight-bold d-block">{{item.data.monitoreos.Programa}}</span>
																					<span class="text-muted font-weight-bold d-block">Sector: {{item.data.monitoreos.sector}}</span>
																				</div>
																			</div>
																		</td>
																		<td>
																			<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Ano}}</span>
																		</td>
																		<td>
																			<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.nombre}}</span>
																		</td>
																		<td>
																			<span id="hombres" class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Genero}}</span>
																		</td>
																		<td>
																			<span id="personas" class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Estado}}</span>
																		</td>
																		
																	</tr>
																	{% endfor %}
																	
																</tbody>
															</table>
														</div>
														<!--end::Table-->
													</div>
													<!--end::Body-->
												</div>
												<!--end::Advance Table Widget 3-->
											</div>
										</div>
									</div>
									<!--end::Content-->
								</div>
								<!--end::Statistics-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		

{%  endblock %}

{% block body_javascripts %}

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->

	<!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets2.js"></script>
    <!--end::Page Scripts-->
	<!--begin::Page Vendors(used by this page)-->
	<script src="/assets/plugins/custom/flot/flot.bundle.js"></script>
	<!--end::Page Vendors-->
	<!--begin::Page Scripts(used by this page)-->
	<script src="/assets/js/pages/features/charts/flotcharts.js"></script>
	<!--end::Page Scripts-->

	<script>
	
    var inputs = document.querySelectorAll("[id='personas']");
    var sumarP = 0;            

    for(var i=0; i<inputs.length; i++) {
		console.log(inputs[i]);
        sumarP += parseInt((inputs[i]).innerHTML);
    }

    document.getElementById('PerTot').innerHTML = sumarP.toString();
	document.getElementById('PerTot2').innerHTML = sumarP.toString();
	
    var inputs = document.querySelectorAll("[id='hombres']");
    var sumarH = 0;            

    for(var i=0; i<inputs.length; i++) {
        sumarH += parseInt((inputs[i]).innerHTML);
    }

    document.getElementById('HomTot').innerHTML = sumarH.toString();
	
    var inputs = document.querySelectorAll("[id='mujeres']");
    var sumarM = 0;            

    for(var i=0; i<inputs.length; i++) {
        sumarM += parseInt((inputs[i]).innerHTML);
    }

    document.getElementById('MujTot').innerHTML = sumarM.toString();

	/*DIAGRAMA DE PIE*/	
	var data = [ 
		["Hombres",sumarH], 
		["Mujeres",sumarM], 
	] 
	/*
	var data = [ 
		{label: "Hombres", data: sumaH}, 
		{label: "Mujeres", data: sumaM},
	]; */
	
	$.plot('#piechart', data, {
		series: {
			pie: {
				show: !0
			}
		},
		legend: {
			show: !1
		}
	});
	</script>


{% endblock %}