---
permalink: "monitoreo/{{monitoreo.id_monitoreo}}index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Sistema Red Dashboard</title>
{% endblock %}

{% block content %}



{%  endblock %}