---
pagination:
  data: proyectos
  size: 1
  addAllPagesToCollections: true
  alias: proyectos
tags:
  - proyectos
permalink: "proyecto/{{proyectos.id_proyecto}}/{{proyectos.id_actividad}}/index.html"
---