---
pagination:
  data: voluntariado
  size: 1
  addAllPagesToCollections: true
  alias: voluntariados
tags:
  - voluntariados
permalink: "voluntariados/{{voluntariados.id_voluntariado}}/index.html"
---