---
permalink: "monitoreo/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Monitoreo</title>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}

{% block content %}

<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div  class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
							<div  class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap" style="padding: 0 50px!important">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1" >
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5" >
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5" >Monitoreo y Evaluación</h5>
										<!--end::Page Title-->

									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->

								<!--begin::Toolbar-->
								<div class="d-flex align-items-center">
									<!--begin::Actions-->
									<a target="_blank" href="https://docs.google.com/spreadsheets/d/1oKSVsIOMHbyiarzY-E8B5FmYtLDGwuMmrF_2C-kinvM/edit?usp=sharing" class="btn btn-light-primary font-weight-bolder btn-sm">Actualizar Monitoreo</a>
									<!--end::Actions-->
									
								</div>
								<!--end::Toolbar-->
								
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Statistics-->
								<div class="d-flex flex-sm-row flex-column">
									<!--begin::Aside>
									<div class="flex-md-row-auto w-sm-250px w-md-275px w-xl-325px">
										
						


									</div>
									<end::Aside-->
									<!--begin::Content-->
									<div class="flex-row-fluid ml-sm-12">
										<div class="row">
											<div class="col-xxl-12">
												<!--begin::Mixed Widget 13-->
												<div class="card card-custom gutter-b">
													<!--begin::Beader-->
													<div class="card-header border-0 py-5">
														<h3 class="card-title font-weight-bolder">Datos Generales</h3>
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body p-0 d-flex flex-column">
														<!--begin::Stats-->
														<div class="card-spacer pt-5 bg-white flex-grow-1">
															<!--begin::Row-->
															<div class="row row-paddingless">
																<div class="col mr-8">
																	<div class="font-size-sm text-muted font-weight-bold">Número de Personas impactadas</div>
																	{% for item in collections.monitoreos %}
																		{% if loop.length==loop.index %}
																			<div class="font-size-h4 font-weight-bolder" >{{loop.length}}</div>
																		{% endif %}
																	
																	{% endfor %}
																</div>
															</div>
															<!--end::Row-->
															{% for item in collections.resmon%}
																
																<div id="anos" style="display:none">{{item.data.resmon.Ano}}</div>
																<div id="personas" style="display:none">{{item.data.resmon.monitoreo}}</div>
																
															{% endfor %}


														</div>
														<!--end::Stats-->
														<!--begin::Chart-->
														<div id="kt_mixed_widget_13_chart" class="card-rounded-bottom" style="height: 200px"></div>
														<!--end::Chart-->
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 13-->
											</div>
										</div>
										<div class="row">
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Monitoreo por Género</div>
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														{% for item in collections.monitoreos %}
															
														<div class="font-size-h4 font-weight-bolder" id="genero" style="display:none">{{item.data.monitoreos.Genero}}</div>
															
														{% endfor %}

														<!--begin::Chart-->
														<div id="piechart1" ></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
											<div class="col-xxl-6">
												<!--begin::Charts Widget 1-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header h-auto border-0">
														<!--begin::Title-->
														<div class="card-title py-5">
															<h3 class="card-label">
																<span class="d-block text-dark font-weight-bolder">Monitoreo por Edades</span>
															</h3>
														</div>
														<!--end::Title-->
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														{% for item in collections.monitoreos %}

															<div id="edad" style="display:none">{{item.data.monitoreos.Edad}}</div>

														{% endfor %}
														<!--begin::Chart-->
														<div id="kt_charts_widget_1_chart2"></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Charts Widget 1-->
											</div>
										</div>
										<div class="row">
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Monitoreo por Nivel Académico</div>
															
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														{% for item in collections.monitoreos %}
															
														<div class="font-size-h4 font-weight-bolder" id="nivel" style="display:none">{{item.data.monitoreos.academico}}</div>
															
														{% endfor %}
														<!--begin::Chart-->
														<div id="piechart2" ></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
											<div class="col-xxl-6">
												
												<!--begin::Mixed Widget 18-->
												<div class="card card-custom gutter-b">
													<!--begin::Header-->
													<div class="card-header border-0 pt-5">
														<div class="card-title font-weight-bolder">
															<div class="card-label">Monitoreo por Sector</div>
															
														</div>
														
													</div>
													<!--end::Header-->
													<!--begin::Body-->
													<div class="card-body">
														{% for item in collections.monitoreos %}
															
														<div class="font-size-h4 font-weight-bolder" id="sector" style="display:none">{{item.data.monitoreos.sector}}</div>
															
														{% endfor %}
														<!--begin::Chart-->
														<div id="piechart3" ></div>
														<!--end::Chart-->
														
													</div>
													<!--end::Body-->
												</div>
												<!--end::Mixed Widget 18-->
											</div>
										</div>
										<!--div class="row">
											<div class="col-lg-12 col-md-12 col-xxl-12">
												<begin::Advance Table Widget 3>
												<div class="card card-custom gutter-b">
													<begin::Header>
													<div class="card-header border-0 py-5">
														<h3 class="card-title align-items-start flex-column">
															<span class="card-label font-weight-bolder text-dark">Monitoreo</span>
															<span class="text-muted mt-3 font-weight-bold font-size-sm">Más de 400+ miembros</span>
														</h3>
													</div>
													<end::Header>
													<begin::Body>
													<div class="card-body pt-0 pb-3">
														<begin::Table>
														<div class="table-responsive">
															<table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
																<thead>
																	<tr class="text-uppercase">
																		<th style="min-width: 250px" class="pl-7">
																			<span class="text-dark-75">Proyecto</span>
																		</th>
																		<th style="min-width: 100px">Año</th>
																		<th style="min-width: 100px">Masculino</th>
																		<th style="min-width: 100px">Femenino</th>
																		<th style="min-width: 100px">Total</th>
																	</tr>
																</thead>
																<tbody>
																	{% for item in collections.monitoreos %}
																	<tr>
																		<td class="pl-0 py-8">
																			<div class="d-flex align-items-center">
																				<div class="symbol symbol-50 flex-shrink-0 mr-4">
																					<div class="symbol-label" style="background-image: url('/assets/IMAGEN-RCt.png')"></div>
																				</div>
																				<div>
																					<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.data.monitoreos.Proyecto}}</a>
																					<span class="text-muted font-weight-bold d-block">{{item.data.monitoreos.Programa}}</span>
																					<span class="text-muted font-weight-bold d-block">Sector: {{item.data.monitoreos.sector}}</span>
																				</div>
																			</div>
																		</td>
																		<td>
																			<span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Ano}}</span>
																		</td>
																		<td>
																			<span id="hombres" class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Genero}}</span>
																		</td>
																		<td>
																			<span id="personas" class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.data.monitoreos.Estado}}</span>
																		</td>
																		
																	</tr>
																	{% endfor %}
																	
																</tbody>
															</table>
														</div>
														<end::Table>
													</div>
													<end::Body>
												</div>
												<end::Advance Table Widget 3>
											</div>
										</div-->
									</div>
									<!--end::Content-->
								</div>
								<!--end::Statistics-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		

{%  endblock %}

{% block body_javascripts %}

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->

	<!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets2.js"></script>
    <!--end::Page Scripts-->



	<script type="text/javascript">

		var genero = document.querySelectorAll("[id='genero']");
		var hombres = 0;
		var mujeres = 0;

		for(var i=0; i<genero.length; i++) {
			var x = genero[i].innerHTML;

			if(x=="Masculino"){
				hombres = hombres + 1 ;
			}
			else if (x=="Femenino"){
				mujeres = mujeres + 1 ;
			}
		}

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Género', ''],
			['Masculino', hombres],
			['Femenino', mujeres],
		]);

		var options = {
			colors: ['#4d4dff', '#ff6666'],
		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

		chart.draw(data, options);
		}
	</script>

	<script type="text/javascript">

		var nivel = document.querySelectorAll("[id='nivel']");
		var lic = 0;
		var div = 0;
		var mas = 0;
		var doc = 0;

		for(var i=0; i<nivel.length; i++) {
			var x = nivel[i].innerHTML;

			if(x=="Licenciatura"){
				lic = lic + 1 ;
			}
			else if (x=="Diversificado"){
				div = div + 1 ;
			}
			else if (x=="Maestría"){
				mas = mas + 1 ;
			}
			else if (x=="Doctorado"){
				doc = doc + 1 ;
			}
		}

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Nivel Académico', ''],
			['Licenciatura', lic],
			['Diversificado', div],
			['Maestría', mas],
			['Doctorado', doc],
		]);

		var options = {

		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

		chart.draw(data, options);
		}
	</script>

	<script type="text/javascript">

		var nivel = document.querySelectorAll("[id='sector']");
		var pub = 0;
		var priv = 0;
		var aca = 0;
		var otro = 0;
		var osc = 0;

		for(var i=0; i<nivel.length; i++) {
			var x = nivel[i].innerHTML;

			if(x=="Publico"){
				pub = pub + 1 ;
			}
			else if (x=="Privado"){
				priv = priv + 1 ;
			}
			else if (x=="Académico"){
				aca = aca + 1 ;
			}
			else if(x=="Otro"){
				otro = otro + 1 ;
			}
			else{
				osc = osc + 1 ;
			}
		}

		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {

		var data = google.visualization.arrayToDataTable([
			['Sector', ''],
			['Público', pub],
			['Privado', priv],
			['Académico', aca],
			['Organización de sociedad civil', osc],
			['Otro', otro]
		]);

		var options = {

		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

		chart.draw(data, options);
		}
	</script>

{% endblock %}